<app-sidebar></app-sidebar>
<div class="container-geral">


<div class="conteudo">
<h2>Produtos</h2>

<button class="cadastrar" mat-flat-button (click)="abrirModal()">
  <mat-icon>add</mat-icon>
  <span>Cadastrar Produto</span>
</button>


<!--apresentar lista de produtos cadastrados-->

<div *ngFor="let p of produtos">
  <mat-card appearance="outlined" >
  <mat-card-content>

  <div class="imagem">
    <img [src]="p.imagem" >
  </div>


  <div>
    <span>  <strong>Nome:</strong> {{p.nome}} </span>
  </div>

  <div>
    <span> <strong>Preço:</strong> {{p.preco |currency:'R$':'symbol':'1.2-2':'pt-BR' }} </span>
  </div> 
  <div>
    <span> <strong>Descrição:</strong> {{p.descricao}} </span>
  </div> 
  <div>
    <span>  <strong>Validade:</strong>{{p.validade | date:'dd/MM/yyyy'}} </span>

  </div> 

  <div>
    <button id="editar" mat-fab extended (click)="editarProduto(p)">
      <mat-icon>edit</mat-icon>
      Editar produto</button>
  </div>

 

</mat-card-content>

</mat-card>
</div>



<div class="modal" *ngIf="modalAberta">
  <div class="modal-content">
    <div class="modal-form">
      <app-form (produtoCadastrado)="cadastrarProduto($event)" (cancelar)="fecharModal()"></app-form>
    </div>
  </div>
</div>
</div>
</div>