<div class="modal">
    <div class="modal-content">
  
        <h2>Cadastrar Produto</h2>

        <mat-form-field appearance="fill">
          <mat-label>Nome do produto:</mat-label>
          <input matInput type="text" placeholder="Nome" [(ngModel)]="produto.nome" required #nome="ngModel">
        </mat-form-field>
        
        <mat-form-field>
          <mat-label>Preço</mat-label>
          <input matInput 
          id="valor" 
          type="number" 
          placeholder="Preço" 
          [(ngModel)]="produto.preco"
          [value]="produto.preco | currency:'R$':'symbol':'1.2-2'">
          
        </mat-form-field>

        <mat-form-field>
          <mat-label>Descrição:</mat-label>
          <textarea matInput id="descricao" placeholder="Descrição" [(ngModel)]="produto.descricao"></textarea>
        </mat-form-field>

        <!-- data de validade -->
        <mat-form-field appearance="fill" class="example-full-width">
          <mat-label>Data de validade</mat-label>
  
          <input 
            matInput 
            [matDatepicker]="picker" 
            placeholder="DD/MM/AAAA"
            [(ngModel)]="produto.validade"
            [min]="dataMinima">
        
          <mat-datepicker-toggle matSuffix [for]="picker">
            <mat-icon matDatepickerToggleIcon>keyboard_arrow_down</mat-icon>
          </mat-datepicker-toggle>
        
          <mat-datepicker #picker></mat-datepicker>
        </mat-form-field>
        <!--  /// data de validade -->

        <mat-form-field>
          <mat-label>Insira a imagem:</mat-label>
          <input matInput>
        </mat-form-field>

        <!-- como deixar o input de imagem correto?

        <input type="file" >

        <img *ngIf="produto.imagem" [src]="produto.imagem" alt="Imagem" width="200"> -->
  
        <div class="botoes">
          <button id="salvar" mat-flat-button  (click)="salvar()">
            <mat-icon>save</mat-icon>
            Salvar</button>
          <button id="cancelar" mat-stroked-button (click)="cancelarForm()">
            <mat-icon>cancel</mat-icon>
            Cancelar</button>
        </div>
        
    </div>
  </div>
  